{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="slider">
                    <div><img class="full-width" src="{{ asset('images/listening.jpg') }}" alt=""></div>
                    <div><img class="full-width" src="{{ asset('images/headphones1.jpg') }}" alt=""></div>
                    <div><img class="full-width" src="{{ asset('images/music-life.jpg') }}" alt=""></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
